
# Elastic Beanstalk Files
/node_modules/
/venv/
/target/
/pdffigures2/
/.elasticbeanstalk/
/.venv/
/2006.07491v1.pdf
/pdfs/Climate_Change_2014_-_Synthesis_Report.pdf
/main/combined.faiss
/main/temp_index_bm25/corpus.jsonl
/main/temp_index_bm25/corpus.mmindex.json
/main/temp_index_bm25/data.csc.index.npy
/files.txt
/main/temp_index_bm25/indices.csc.index.npy
/main/temp_index_bm25/indptr.csc.index.npy
/journal_quartile_rank.csv
/pdfs/Navigating_interconnected_and_electrified_industries_in_the_landscape_of_uncertainty_:_Exploring_outcomes_and_values_within_circular_solutions,_and_Swedish_electricity_supply_and_utilisation_dynamics.pdf
/output.csv
/output1.csv
/paper_text.txt
/main/temp_index_bm25/params.index.json
/pdf_urls.csv
/publication.json
/pdfs/RCP_8.5—A_scenario_of_comparatively_high_greenhouse_gas_emissions.pdf
/pdfs/Strategies_for_mitigation_of_climate_change:_a_review.pdf
/t1.py
/temp.csv
/temp.pdf
/urls.txt
/main/temp_index_bm25/vocab.index.json
