boto3
datasets
Flask
openai
pandas
pillow
PyMuPDF
tqdm
numpy
requests
scikit-learn
tqdm
gunicorn
pyalex
flask-cors
pymongo
jwt
langchain_anthropic
langchain_openai
langchain_text_splitters
bson
PyPDF2
pytz
pydantic
pymongo
langchain_core
langchain_community
langchain
pyalex
passlib
