@import url("https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css");
@import url("https://fonts.googleapis.com/css?family=Italiana:400|Raleway:300,400,700,300italic|Overpass+Mono:400");


.screen a {
  display: contents;
  text-decoration: none;
}

.container-center-horizontal {
  display: flex;
  flex-direction: row;
  justify-content: center;
  pointer-events: none;
  width: 100%;
}

.container-center-horizontal > * {
  flex-shrink: 0;
  pointer-events: auto;
}

.align-self-flex-start {
  align-self: flex-start;
}

.valign-text-middle {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

* {
  box-sizing: border-box;
}

.background {
  align-items: flex-start;
  display: flex;
  height: 2945px;
  left: 0;
  min-width: 1589px;
  position: absolute;
  top: 0;
}

.group-10 {
  align-items: flex-start;
  background-image: url(../img/paper.png);
  background-position: center center;
  background-size: cover;
  display: flex;
  height: 100%;
  width: 100%;
  left: 0;
  min-width: 1440px;
  position: fixed;
  top: 0;
  bottom: 0;
  background-repeat: no-repeat;
}

.rectangle-18 {
  background-color: var(--negroni);
  height: 1482px;
  width: 1440px;
}

.a {
  left: 33px;
  letter-spacing: -125.00px;
  line-height: normal;
  position: absolute;
  top: 0;
  white-space: nowrap;
}

.lorem-ipsum-dolor-si {
  height: 480px;
  letter-spacing: 0;
  line-height: 30px;
  width: 451px;
}

.flex-col {
  align-items: flex-start;
  flex-direction: column;
  gap: 11px;
  margin-right: 9px;
  margin-top: 10px;
  min-height: 131px;
  width: 934px;
}

.flex-row {
  align-items: flex-end;
  height: 80px;
  min-width: 920px;
}

.flex-col-1 {
  align-items: flex-start;
  gap: 27px;
  min-height: 71px;
  width: 300px;
}

.span1 {
  text-decoration: underline;
}

.microelectronics-journal {
  letter-spacing: 0;
  line-height: 20px;
  margin-bottom: 4.04px;
  margin-left: 34px;
  min-width: 211px;
  white-space: nowrap;
}

.image-2 {
  height: 17px;
  width: 20px;
}

.citation-count {
  align-self: flex-end;
  letter-spacing: 0;
  line-height: 20px;
  min-width: 37px;
  white-space: nowrap;
}

.date-detail-result {
  align-self: flex-start;
  letter-spacing: 0;
  line-height: 20px;
  margin-left: 61px;
  margin-top: 7px;
  min-width: 86px;
  white-space: nowrap;
}

.detail-result-container {
  align-items: center;
  display: flex;
  min-width: 888px;
}

.primary-topic-detail-result {
  align-items: flex-start;
  background-color: var(--mongoose);
  border-radius: 5px;
  display: flex;
  height: 36px;
  min-width: 156px;
  padding: 7px 14px;
}

.detail-result-keywords {
  align-items: flex-start;
  display: flex;
  margin-left: 26px;
  min-width: 515px;
}

.open-pdf-detail-result {
  align-items: flex-start;
  border: 1px solid;
  border-color: var(--black);
  border-radius: 10px;
  cursor: pointer;
  display: flex;
  height: 40px;
  margin-left: 71px;
  min-width: 120px;
  padding: 8px 12px;
}

.flex-row-1 {
  gap: 20px;
  height: 783px;
  min-width: 986px;
}

.flex-col-2 {
  align-items: center;
  gap: 16px;
  min-height: 783px;
  width: 547px;
}

.abstract {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-left: 34.0px;
  min-height: 516px;
  width: 451px;
}

.abstract-1 {
  color: #653a1b;
  letter-spacing: 0;
  line-height: 20px;
  margin-top: -1px;
  white-space: nowrap;
}

.references {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 17px;
  margin-right: 84.0px;
  min-height: 160px;
  width: 361px;
}

.notable-references {
  letter-spacing: 0;
  line-height: 20px;
  margin-top: -1px;
  white-space: nowrap;
}

.flex-row-2 {
  gap: 48px;
  height: 124px;
  margin-left: 1px;
  min-width: 360px;
}

.reference-container {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 52px;
  min-height: 124px;
  width: 156px;
}

.reference {
  align-items: flex-start;
  cursor: pointer;
  display: flex;
  min-width: 156px;
}

.reference-container-1 {
  border-radius: 5px;
  height: 36px;
  position: relative;
  width: 156px;
}

.reference-1 {
  left: 15px;
  letter-spacing: 0;
  line-height: 20px;
  position: absolute;
  top: 7px;
  white-space: nowrap;
}

.reference-box {
  background-color: var(--mongoose);
  border-radius: 5px;
  height: 36px;
  left: 0;
  position: absolute;
  top: 0;
  width: 156px;
}

.ask-a-question-with-a-paper {
  align-items: center;
  background-color: var(--white-3);
  border-radius: 50px;
  box-shadow: 0px 4px 2px #0000001a;
  display: flex;
  gap: 32px;
  height: 75px;
  justify-content: flex-end;
  min-width: 547px;
  padding: 12px 18px;
}

.ask-a-question-about-the-paper {
  align-self: flex-end;
  letter-spacing: 0;
  line-height: 20px;
  min-height: 37px;
  width: 406px;
}

.pictures {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  margin-top: 1px;
  min-height: 759px;
  width: 419px;
}

.picture-box {
  background-color: var(--default-background);
  border-radius: 5px;
  height: 243px;
  width: 419px;
}

.picture-box-1 {
  margin-top: 14px;
}

.picture-box-2 {
  margin-top: 16px;
}

.overview-rectangle {
  background-color: var(--white-2);
  border-radius: 20px;
  box-shadow: 0px 2px 5px #00000033;
  cursor: pointer;
  height: 290px;
  left: 0;
  position: absolute;
  top: 0;
  width: 1000px;
}

.journal-name {
  left: 370px;
  letter-spacing: 0;
  line-height: 20px;
  position: absolute;
  top: 131px;
  width: 211px;
}

.open-pdf-button {
  align-items: flex-start;
  cursor: pointer;
  display: flex;
  height: 43px;
  left: 836px;
  min-width: 122px;
  position: absolute;
  top: 173px;
}

.publishing-year {
  left: 836px;
  letter-spacing: 0;
  line-height: 20px;
  position: absolute;
  top: 43px;
  white-space: nowrap;
}

.keywords {
  align-items: flex-start;
  display: flex;
  gap: 29px;
  height: 96px;
  left: 399px;
  min-width: 341px;
  position: absolute;
  top: 174px;
}

.overlap-group-container {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 18px;
  min-height: 96px;
  width: 156px;
}

.keyword {
  letter-spacing: 0;
  line-height: 20px;
  white-space: nowrap;
}

.paper-title {
  left: 20px;
  letter-spacing: 0;
  line-height: 40px;
  position: absolute;
  top: 29px;
  width: 758px;
}

.flex {
  align-self: flex-end;
  display: flex;
}

.flex-col-3 {
  display: flex;
  flex-direction: column;
}

.flex-row-3 {
  align-items: flex-start;
  display: flex;
}

.picture-box-3 {
  background-color: var(--default-background);
  border-radius: 5px;
  height: 243px;
  width: 419px;
}

.screen a {
  display: contents;
  text-decoration: none;
}

.container-center-horizontal {
  display: flex;
  flex-direction: row;
  justify-content: center;
  pointer-events: none;
  width: 100%;
}

.container-center-horizontal > * {
  flex-shrink: 0;
  pointer-events: auto;
}

.align-self-flex-start {
  align-self: flex-start;
}

.valign-text-middle {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

* {
  box-sizing: border-box;
}