:root { 
  --black: #000000;
  --blue: #2300fb;
  --brown-sugar: #b272444c;
  --brown-sugar-2: #b27244;
  --default-background: #ffffff;
  --irish-coffee: #663b1c;
  --irish-coffee-2: #653a1b;
  --mongoose: #c09a7e80;
  --negroni: #ffe2c066;
  --white: #ffffff;
  --white-2: #ffffff80;
  --white-3: #ffffff4c;
 
  --font-size-l: 20px;
  --font-size-m: 16px;
  --font-size-xl: 28px;
  --font-size-xxl: 32px;
  --font-size-xxxl: 250px;
  --font-size-xxxxl: 2500px;
 
  --font-family-italiana: "Italiana", Helvetica;
  --font-family-overpass_mono: "Overpass Mono", Helvetica;
  --font-family-raleway: "Raleway", Helvetica;
}
.raleway-normal-irish-coffee-20px {
  color: var(--irish-coffee);
  font-family: var(--font-family-raleway);
  font-size: var(--font-size-l);
  font-style: normal;
  font-weight: 400;
}

.raleway-normal-black-20px {
  color: var(--black);
  font-family: var(--font-family-raleway);
  font-size: var(--font-size-l);
  font-style: normal;
  font-weight: 400;
}

.raleway-light-irish-coffee-20px {
  color: var(--irish-coffee);
  font-family: var(--font-family-raleway);
  font-size: var(--font-size-l);
  font-style: italic;
  font-weight: 300;
}

.raleway-light-black-20px {
  color: var(--black);
  font-family: var(--font-family-raleway);
  font-size: var(--font-size-l);
  font-style: italic;
  font-weight: 300;
}

.overpassmono-normal-blue-20px {
  color: var(--blue);
  font-family: var(--font-family-overpass_mono);
  font-size: var(--font-size-l);
  font-style: normal;
  font-weight: 400;
}

.italiana-normal-brown-sugar-2500px {
  color: var(--brown-sugar);
  font-family: var(--font-family-italiana);
  font-size: var(--font-size-xxxxl);
  font-style: normal;
  font-weight: 400;
}

.raleway-normal-black-28px {
  color: var(--black);
  font-family: var(--font-family-raleway);
  font-size: var(--font-size-xl);
  font-style: normal;
  font-weight: 400;
}

.raleway-light-irish-coffee-20px-2 {
  color: var(--irish-coffee);
  font-family: var(--font-family-raleway);
  font-size: var(--font-size-l);
  font-style: normal;
  font-weight: 300;
}

.raleway-bold-irish-coffee-32px {
  color: var(--irish-coffee);
  font-family: var(--font-family-raleway);
  font-size: var(--font-size-xxl);
  font-style: normal;
  font-weight: 700;
}

.raleway-normal-black-16px {
  color: var(--black);
  font-family: var(--font-family-raleway);
  font-size: var(--font-size-m);
  font-style: normal;
  font-weight: 400;
}

.raleway-light-irish-coffee-28px {
  color: var(--irish-coffee-2);
  font-family: var(--font-family-raleway);
  font-size: var(--font-size-xl);
  font-style: italic;
  font-weight: 300;
}

.italiana-normal-brown-sugar-250px {
  color: var(--brown-sugar-2);
  font-family: var(--font-family-italiana);
  font-size: var(--font-size-xxxl);
  font-style: normal;
  font-weight: 400;
}
