
<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=1440, maximum-scale=1.0" />
  <meta name="og:type" content="website" />
  <link rel="stylesheet" href="{{ url_for('static', filename='css/start-basic-search.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/styleguide.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/globals.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.1/axios.min.js"></script>
  <script src="https://sdk.amazonaws.com/js/aws-sdk-2.1098.0.min.js"></script>
</head>
<div id="loading-message">
  <div class="spinner"></div>
  <p>Fetching results... This might take up to a minute.</p>
  <p>This is probably a good time to hydrate yourself!</p>
</div>

<body style="margin: 0">
<input type="hidden" id="anPageName" name="page" value="start-basic-search" />
<div class="container-center-horizontal">
  <div class="start-basic-search screen">
    <div class="overlap-group2">
      <div class="background">
        <div class="overlap-group">
          <div class="group-10">
            <div class="rectangle-18"></div>
          </div>
          <div class="a italiana-normal-brown-sugar-2500px">A</div>
        </div>
      </div>
      <div class="search-bar-main-page">
        <input type="text" id="search-input" class="enter-text-box raleway-light-irish-coffee-28px" placeholder="Search Phrase">
        <img class="search-symbol" src="{{ url_for('static', filename='img/icons---search-2.svg') }}" alt="Search symbol" onclick="performSearch()" />
      </div>
      <div class="aristto-logo">
        <div class="overlap-group1 italiana-normal-brown-sugar-250px">
          <h1 class="title">Arist</h1>
          <div class="t">t</div>
          <div class="o">o</div>
        </div>
      </div>
    </div>
  </div>
</div>

<div id="results-container" class="results-container">
  <!-- Results will be dynamically inserted here -->
</div>

<!-- Overlay for displaying question answers and reference details -->
<div id="overlay" class="overlay">
  <div class="overlay-content">
    <span class="close-overlay" onclick="closeOverlay()">&times;</span>
    <div id="overlay-text"></div>
  </div>
</div>
<script>
  async function performSearch() {
    const searchInput = document.getElementById('search-input').value;
    const resultsContainer = document.getElementById('results-container');

    try {
      document.getElementById('loading-message').style.display = 'block';
      const response = await axios.post('/search', {query: searchInput});
      document.getElementById('loading-message').style.display = 'none';
      const searchResults = response.data;

      resultsContainer.innerHTML = ''; // Clear previous results

      if (searchResults && searchResults.length > 0) {
        searchResults.forEach(result => {
          const resultHTML = `
                    <div id="overview-rectangle${result.open_alex_id}" class="overview-rectangle">
                        <p class="paper-title">${result.title}</p>
                        <div class="citation">
                            <img class="img" src="{{ url_for('static', filename='img/image-2@2x.png') }}" />
                            <div class="citation-count">${result.cited_by_count}</div>
                        </div>
                        <div class="publishing-year">${result.publication_year}</div>
                        <img class="icons-chevron-down" src="{{ url_for('static', filename='img/icons---chevron-down.svg')}}" />
                        <p class="author-names">
                            <span class="span">
                                ${result.authors.map(author => `<span class="Raleway-LightItalic">${author}</span>`).join(', ')}
                            </span>
                        </p>
                        <div class="journal-name">${result.publication}</div>
                        ${result.oa_url && result.oa_url !== '' ?`
                        <a href=${result.oa_url} target="_blank" rel="noopener noreferrer">
                            <div class="open-pdf-button">
                                <div class="div-wrapper"><div class="text-wrapper-3">Open PDF</div></div>
                            </div>
                        </a>`:''}
                       ${result.primary_topic !== '' ? `
                        <div class="primary-topic">
                            <div class="primary-topic-2">${result.primary_topic}</div>
                        </div>
                        ` : ''}
                        <div class="keywords">
                            ${result.key_words.map(keyword => `
                                <div class="keyword">
                                    <div class="keyword-wrapper"><div class="keyword-2">${keyword}</div></div>
                                </div>
                            `).join('')}
                        </div>
                    </div>`;

          resultsContainer.innerHTML += resultHTML;
          localStorage.setItem(result.open_alex_id, JSON.stringify(result));
        });

        document.querySelectorAll('.overview-rectangle').forEach(container => {
          const originalContent = container.innerHTML;
          let isExpanded = false;

          container.addEventListener('click', async function(event) {
            const clickedElement = event.target;

            // Check if the clicked element is an image
            if (clickedElement.tagName === 'IMG') {
              event.stopPropagation();
              openImagePopup(clickedElement.src);
              return;
            }

            // Check if the clicked element or its parent has a click event or is a clickable element
            const isClickable = (element) => {
              const clickableTagNames = ['A', 'BUTTON', 'INPUT', 'SELECT', 'TEXTAREA'];
              return (
                      element.onclick ||
                      element.getAttribute('onclick') ||
                      clickableTagNames.includes(element.tagName) ||
                      element.closest('a, button, input, select, textarea')
              );
            };

            if (isClickable(clickedElement)) {
              // Allow the default action for clickable elements
              return;
            }

            event.stopPropagation();

            if (!isExpanded) {
              const result_id = this.getAttribute('id').replace('overview-rectangle', '');
              const result = JSON.parse(localStorage.getItem(result_id));

              // Create expanded content
              const expandedContent = document.createElement('div');
              expandedContent.className = 'expanded-content';
              await expandResult(result, expandedContent);

              // Save original content and append expanded content
              this.dataset.originalContent = originalContent;
              this.innerHTML = '';
              this.appendChild(expandedContent);

              // Trigger reflow before adding expanded class
              void this.offsetWidth;

              this.classList.add('expanded');
              isExpanded = true;
            } else {
              // Only collapse if the clicked area is not a clickable element
              if (!isClickable(clickedElement)) {
                // Restore original content
                this.classList.remove('expanded');

                // Wait for transition to finish before replacing content
                setTimeout(() => {
                  this.innerHTML = this.dataset.originalContent;
                }); // This should match the transition duration in CSS

                isExpanded = false;
              }
            }
          });
        });

// Function to open image popup
        function openImagePopup(src) {
          const popup = document.createElement('div');
          popup.className = 'image-popup';
          popup.innerHTML = `
    <div class="image-popup-content">
      <img src="${src}" alt="Enlarged image">
      <button class="close-popup">×</button>
    </div>
  `;
          document.body.appendChild(popup);

          // Close popup when clicking outside the image or on the close button
          popup.addEventListener('click', function(event) {
            if (event.target === popup || event.target.className === 'close-popup') {
              document.body.removeChild(popup);
            }
          });
        }

// Add necessary CSS for the image popup
        const style = document.createElement('style');
        style.textContent = `
  .image-popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
  }
  .image-popup-content {
    position: relative;
    max-width: 90%;
    max-height: 90%;
  }
  .image-popup-content img {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
  }
  .close-popup {
    position: absolute;
    top: -40px;
    right: -40px;
    font-size: 30px;
    color: white;
    background: none;
    border: none;
    cursor: pointer;
  }
`;
        document.head.appendChild(style);


        resultsContainer.style.display = 'flex';
        resultsContainer.style.flexDirection = 'column';
      } else {
        resultsContainer.innerHTML = '<p>No results found.</p>';
      }
    } catch (error) {
      document.getElementById('loading-message').style.display = 'none';
      console.error('Error performing search:', error);
      alert('An error occurred while searching. Please try again.' + error);
    }
  }

  async function expandResult(result, expandedContentElement) {
    try {
      document.getElementById('loading-message').style.display = 'block';
      const response = await axios.post('/getExpandedViewData', {query: result});
      document.getElementById('loading-message').style.display = 'none';

      let diagrams = [];
      const diagrams_map = response.data.figures;
      if (Object.keys(diagrams_map).length > 0) {
        diagrams = diagrams_map[`${result.open_alex_id}`];
      }
      // const images_from_s3 = await getSignedUrls(diagrams)
      const referenced_papers = response.data.referenced_papers;
      referenced_papers.forEach(referenced_paper =>
              localStorage.setItem(referenced_paper.open_alex_id, JSON.stringify(referenced_paper))
      );

      expandedContentElement.innerHTML =
              `
        <div class="expanded-content">
         <div class = "detailed-inner-container">
          <div class="detailed-text-wrapper-title">${result.title}</div>
           ${result.oa_url && result.oa_url !== '' ?`
          <a href="${result.oa_url}" target="_blank" rel="noopener noreferrer">
            <div class="detailed-open-pdf">
              <div class="detailed-div-wrapper"><div class="detailed-text-wrapper-3">Open PDF</div></div>
            </div>
          </a>`:''}
          <div class="detailed-abstract">
            <div class="detailed-text-wrapper-abstract">Abstract</div>
            <p class="detailed-p">${result.abstract}</p>
          </div>
          <div class="detailed-date-result">${result.publication_year}</div>
          <img class="detailed-icons-chevron-down" src="{{ url_for('static', filename='img/icons---chevron-down.svg')}}"/>
          <p class="detailed-author-names">
            <span class="span">${result.authors.map(author => `<span class="Raleway-LightItalic">${author}</span>`).join(', ')}</span>
          </p>
          <div class="detailed-citation">
            <img class="detailed-image" src="{{ url_for('static', filename='img/image-2@2x.png') }}"/>
            <div class="detailed-citation-count">${result.cited_by_count}</div>
          </div>

          <div class="detailed-text-wrapper-publication">${result.publication}</div>
          <div class="detailed-pictures-container">
             <div class="detailed-pictures">
                  ${diagrams.map(diagram => `
                      <div class="detailed-picture-box">
                          <img src="data:image/jpeg;base64,${diagram}" alt="s Image"/>
                      </div>
                  `).join('')}

              </div>
          </div>
          <div class="popup-overlay">
              <span class="close-popup">&times;</span>
              <div class="popup-content">
                  <img src="" alt="Enlarged Image"/>
              </div>
          </div>

          ${referenced_papers.length > 0?`
          <div class="common-container">
          <div class="detailed-text-wrapper-abstract">Notable References</div>
          <div class="detailed-references">
              ${referenced_papers.map(referenced_paper => `
                  <div  class="detailed-reference" onclick="showReferenceView('${referenced_paper.open_alex_id}', event)">
                      <div class ="detailed-reference-box">
                      <div class="detailed-text-reference">${referenced_paper.title}</div></div>
                  </div>
                `).join('')}
            </div>` : ''}
          ${result.oa_url && result.oa_url !== ''? `
          <div class="detailed-ask-a-question-with">
            <input type="text" id="ask-a-question-${result.open_alex_id}" class="detailed-text-wrapper raleway-light-irish-coffee-28px"
                   placeholder="Ask a question about the paper"/>
            <img class="detailed-search-symbol" src="{{ url_for('static', filename='img/icons---search-2.svg') }}" alt="Search symbol"
                 onclick="askQuestion('${result.open_alex_id}', '${result.oa_url}', event)"/>
          </div>
          ` : ''}
          </div>
          </div>`
        document.addEventListener('DOMContentLoaded', () => {
        const pictures = document.querySelectorAll('.detailed-picture-box img');
        const popupOverlay = document.querySelector('.popup-overlay');
        const popupImage = document.querySelector('.popup-content img');
        const closePopup = document.querySelector('.close-popup');

        pictures.forEach(picture => {
        picture.addEventListener('click', () => {
        popupImage.src = picture.src;
        popupOverlay.style.display = 'flex';
      });
      });

        closePopup.addEventListener('click', () => {
        popupOverlay.style.display = 'none';
      });

        popupOverlay.addEventListener('click', (e) => {
        if (e.target === popupOverlay) {
        popupOverlay.style.display = 'none';
      }
      });
      });
    } catch (error) {
      console.error('Error fetching detailed result:', error);
      expandedContentElement.innerHTML = '<p>An error occurred while fetching the detailed result. Please try again.</p>';
    } finally {
      document.getElementById('loading-message').style.display = 'none';
    }
  }

  async function askQuestion(paperId, url, event) {
    event.stopPropagation();
    const questionInput = document.getElementById(`ask-a-question-${paperId}`);
    const question = questionInput.value;
    const request = { question: question, url : url }
    let response = null
    try {
        document.getElementById('loading-message').style.display = 'block';
        response = await axios.post('/askQuestion', { query: request });
        // Handle the successful response here (if needed)
    } catch (error) {
        // Handle the error here
        console.error('Error occurred:', error);
        document.getElementById('error-message').innerText = 'An error occurred: ' + error.message;
        document.getElementById('error-message').style.display = 'block';
    } finally {
        document.getElementById('loading-message').style.display = 'none';
    }


              showOverlay(`
          <div class="question-overlay-content">
            <div class="question-overlay-text">
              <p><strong>Question:</strong> ${question}</p>
              <p><strong>Answer:</strong> ${response.data.answer}</p>
            </div>
          </div>
        `);
              questionInput.value = ''; // Clear the input after asking


  }
   async function showReferenceView(referenceId, event) {
     event.stopPropagation();
     try {

       const result_string = localStorage.getItem(referenceId)
       const result = JSON.parse(result_string)
       document.getElementById('loading-message').style.display = 'block';
       const response = await axios.post('/getExpandedViewData', {query: result});
       document.getElementById('loading-message').style.display = 'none';
       let images_from_s3 = []
       let diagrams = [];
       const diagrams_map = response.data.figures;
       if (Object.keys(diagrams_map).length > 0) {
         diagrams = diagrams_map[`${result.open_alex_id}`];
         // if (diagrams) {
           // images_from_s3 = await getSignedUrls(diagrams)
        // }


       }

       const referenced_papers = response.data.referenced_papers;
       referenced_papers.forEach(referenced_paper =>
               localStorage.setItem(referenced_paper.open_alex_id, JSON.stringify(referenced_paper))
       );

       showOverlay(
               `
        <div class="expanded-content">
         <div class = "detailed-inner-container">
          <div class="detailed-text-wrapper-title">${result.title}</div>
           ${result.oa_url && result.oa_url !== '' ?`
          <a href="${result.oa_url}" target="_blank" rel="noopener noreferrer">
            <div class="detailed-open-pdf">
              <div class="detailed-div-wrapper"><div class="detailed-text-wrapper-3">Open PDF</div></div>
            </div>
          </a>`:''}
          <div class="detailed-abstract">
            <div class="detailed-text-wrapper-abstract">Abstract</div>
            <p class="detailed-p">${result.abstract}</p>
          </div>
          <div class="detailed-date-result">${result.publication_year}</div>
          ${result.authors && result.authors.length > 0 ? `
          <p class="detailed-author-names">
            <span class="span">${result.authors.map(author => `<span class="Raleway-LightItalic">${author}</span>`).join(', ')}</span>
          </p>
        ` : ''}
          <div class="detailed-citation">
            <img class="detailed-image" src="{{ url_for('static', filename='img/image-2@2x.png') }}"/>
            <div class="detailed-citation-count">${result.cited_by_count}</div>
          </div>

          <div class="detailed-text-wrapper-publication">${result.publication}</div>
          <div class="detailed-pictures-container">
             <div class="detailed-pictures">
                  ${diagrams.map(diagram => `
                      <div class="detailed-picture-box">
                          <img src="data:image/jpeg;base64,${diagram}" alt="s Image"/>
                      </div>
                  `).join('')}

              </div>
          </div>
          <div class="popup-overlay">
              <span class="close-popup">&times;</span>
              <div class="popup-content">
                  <img src="" alt="Enlarged Image"/>
              </div>
          </div>
            ${result.oa_url && result.oa_url !== ''? `
          <div class="detailed-ask-a-question-with">
            <input type="text" id="ask-a-question-${result.open_alex_id}" class="detailed-text-wrapper raleway-light-irish-coffee-28px"
                   placeholder="Ask a question about the paper"/>
            <img class="detailed-search-symbol" src="{{ url_for('static', filename='img/icons---search-2.svg') }}" alt="Search symbol"
                 onclick="askQuestion('${result.open_alex_id}', '${result.oa_url}', event)"/>
          </div>
          ` : ''}
          </div>
          </div>`);
       document.addEventListener('DOMContentLoaded', () => {
         const pictures = document.querySelectorAll('.detailed-picture-box img');
         const popupOverlay = document.querySelector('.popup-overlay');
         const popupImage = document.querySelector('.popup-content img');
         const closePopup = document.querySelector('.close-popup');

         pictures.forEach(picture => {
           picture.addEventListener('click', () => {
             popupImage.src = picture.src;
             popupOverlay.style.display = 'flex';
           });
         });

         closePopup.addEventListener('click', () => {
           popupOverlay.style.display = 'none';
         });

         popupOverlay.addEventListener('click', (e) => {
           if (e.target === popupOverlay) {
             popupOverlay.style.display = 'none';
           }
         });
       });
   }
     catch (error) {
       console.error('Error fetching detailed result:', error);
     } finally {
       document.getElementById('loading-message').style.display = 'none';
     }
  }


  function showOverlay(content) {
    const overlay = document.getElementById('overlay');
    const overlayText = document.getElementById('overlay-text');
    overlayText.innerHTML = content;
    overlay.style.display = 'block';
  }

  function closeOverlay() {
    const overlay = document.getElementById('overlay');
    overlay.style.display = 'none';
  }
</script>
</body>
</html>