.detailed-result-tab {
  position: relative;
  width: 1000px;
  height: 985px;
  background-color: #ffffff80;
  border-radius: 20px;
}

.detailed-text-wrapper {
  position: absolute;
  top: 37px;
  left: 68px;
  font-family: "Raleway-Bold", Helvetica;
  font-weight: 700;
  color: #663b1c;
  font-size: 32px;
  letter-spacing: 0;
  line-height: 20px;
  white-space: nowrap;
}

.detailed-open-pdf {
  position: absolute;
  width: 120px;
  height: 40px;
  top: 119px;
  left: 822px;
  border-radius: 10px;
  border: 1px solid;
  border-color: #663b1c;
}

.detailed-div {
  position: absolute;
  top: 8px;
  left: 12px;
  font-family: "Raleway-Regular", Helvetica;
  font-weight: 400;
  color: #663b1c;
  font-size: 20px;
  letter-spacing: 0;
  line-height: 20px;
  white-space: nowrap;
}

.detailed-abstract {
  position: absolute;
  width: 451px;
  height: 516px;
  top: 184px;
  left: 68px;
}

.detailed-text-wrapper-2 {
  position: absolute;
  top: -1px;
  left: 0;
  font-family: "Raleway-Regular", Helvetica;
  font-weight: 400;
  color: #663b1c;
  font-size: 28px;
  letter-spacing: 0;
  line-height: 20px;
  white-space: nowrap;
}

.detailed-p {
  position: absolute;
  width: 451px;
  height: 480px;
  top: 35px;
  left: 0;
  font-family: "Raleway-Regular", Helvetica;
  font-weight: 400;
  color: #663b1c;
  font-size: 16px;
  letter-spacing: 0;
  line-height: 30px;
}

.detailed-date-result {
  position: absolute;
  top: 35px;
  left: 846px;
  font-family: "Raleway-Regular", Helvetica;
  font-weight: 400;
  color: #663b1c;
  font-size: 20px;
  letter-spacing: 0;
  line-height: 20px;
  white-space: nowrap;
}

.detailed-pictures {
  position: absolute;
  width: 419px;
  height: 759px;
  top: 185px;
  left: 570px;
}

.detailed-picture-box {
  position: absolute;
  width: 419px;
  height: 243px;
  top: 0;
  left: 0;
  background-color: #ffffff;
  border-radius: 5px;
}

.detailed-picture-box-2 {
  top: 257px;
  position: absolute;
  width: 419px;
  height: 243px;
  left: 0;
  background-color: #ffffff;
  border-radius: 5px;
}

.detailed-picture-box-3 {
  top: 516px;
  position: absolute;
  width: 419px;
  height: 243px;
  left: 0;
  background-color: #ffffff;
  border-radius: 5px;
}

.detailed-icons-chevron-down {
  position: absolute;
  width: 35px;
  height: 35px;
  top: 28px;
  left: 953px;
}

.detailed-author-names {
  position: absolute;
  width: 300px;
  top: 84px;
  left: 68px;
  font-family: "Raleway-Light", Helvetica;
  font-weight: 300;
  color: #663b1c;
  font-size: 20px;
  letter-spacing: 0;
  line-height: 20px;
}

.detailed-span {
  font-family: "Raleway-LightItalic", Helvetica;
  font-style: italic;
}

.detailed-text-wrapper-3 {
  font-family: "Raleway-LightItalic", Helvetica;
  font-style: italic;
  text-decoration: underline;
}

.detailed-citation {
  position: absolute;
  width: 66px;
  height: 20px;
  top: 85px;
  left: 719px;
}

.detailed-image {
  position: absolute;
  width: 20px;
  height: 17px;
  top: 0;
  left: 0;
}

.detailed-citation-count {
  position: absolute;
  top: 0;
  left: 27px;
  font-family: "Overpass Mono-Regular", Helvetica;
  font-weight: 400;
  color: #663b1c;
  font-size: 20px;
  letter-spacing: 0;
  line-height: 20px;
  white-space: nowrap;
}

.detailed-primary-topic {
  position: absolute;
  width: 156px;
  height: 36px;
  top: 121px;
  left: 54px;
  background-color: #c09a7e80;
  border-radius: 5px;
}

.detailed-text-wrapper-4 {
  position: absolute;
  top: 7px;
  left: 14px;
  font-family: "Raleway-Regular", Helvetica;
  font-weight: 400;
  color: #663b1c;
  font-size: 20px;
  letter-spacing: 0;
  line-height: 20px;
  white-space: nowrap;
}

.detailed-text-wrapper-publication {
  position: absolute;
  top: 84px;
  left: 402px;
  font-family: "Raleway-LightItalic", Helvetica;
  font-weight: 300;
  font-style: italic;
  color: #663b1c;
  font-size: 20px;
  letter-spacing: 0;
  line-height: 20px;
  white-space: nowrap;
}

.detailed-result {
  position: absolute;
  width: 515px;
  height: 36px;
  top: 121px;
  left: 236px;
}

.detailed-keyword {
  left: 0;
  position: absolute;
  width: 156px;
  height: 39px;
  top: -1px;
  background-color: #ffffff80;
  border-radius: 5px;
}

.detailed-keyword-2 {
  position: absolute;
  width: 135px;
  top: 8px;
  left: 10px;
  font-family: "Raleway-Regular", Helvetica;
  font-weight: 400;
  color: #663b1c;
  font-size: 20px;
  letter-spacing: 0;
  line-height: 20px;
  white-space: nowrap;
}

.detailed-keyword-wrapper {
  left: 359px;
  position: absolute;
  width: 156px;
  height: 39px;
  top: -1px;
  background-color: #ffffff80;
  border-radius: 5px;
}

.detailed-div-wrapper {
  left: 175px;
  position: absolute;
  width: 156px;
  height: 39px;
  top: -1px;
  background-color: #ffffff80;
  border-radius: 5px;
}

.detailed-references {
  position: absolute;
  width: 361px;
  height: 160px;
  top: 716px;
  left: 54px;
}

.detailed-reference {
  position: absolute;
  width: 156px;
  height: 36px;
  top: 36px;
  left: 205px;
}

.detailed-overlap-group {
  position: relative;
  height: 36px;
  border-radius: 5px;
}

.detailed-text-reference {
  position: absolute;
  top: 7px;
  left: 15px;
  font-family: "Raleway-Regular", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 20px;
  letter-spacing: 0;
  line-height: 20px;
  white-space: nowrap;
}

.detailed-reference-box {
  position: absolute;
  width: 156px;
  height: 36px;
  top: 0;
  left: 0;
  background-color: #c09a7e80;
  border-radius: 5px;
}

.detailed-overlap-wrapper {
  position: absolute;
  width: 156px;
  height: 36px;
  top: 124px;
  left: 205px;
}

.detailed-overlap-group-wrapper {
  position: absolute;
  width: 156px;
  height: 36px;
  top: 124px;
  left: 1px;
}

.detailed-reference-2 {
  position: absolute;
  width: 156px;
  height: 36px;
  top: 36px;
  left: 1px;
}

.detailed-ask-a-question-with {
  position: absolute;
  width: 547px;
  height: 75px;
  top: 892px;
  left: 3px;
  background-color: #ffffffb2;
  border-radius: 50px;
  box-shadow: 0px 4px 2px #0000001a;
}

.detailed-search-symbol {
  position: absolute;
  width: 40px;
  height: 40px;
  top: 18px;
  left: 489px;
}

.detailed-text-wrapper {
  position: absolute;
  width: 406px;
  top: 26px;
  left: 51px;
  font-family: "Raleway-LightItalic", Helvetica;
  font-weight: 300;
  font-style: italic;
  color: #653a1b;
  font-size: 28px;
  letter-spacing: 0;
  line-height: 20px;
}
